{% extends "client_layout.html" %}

{% block body %}
<head> 
    <title> Create Event </title>
</head>
<body>
    <center>
    <h1> Hello {{session['clientName']}}, <br>
        Mikole is honored to host your next event,<br>
        Lets enter Event Details here: </h1><br>
    </center>
    <img src="/images/Blank.jpg" style="width:100%">


        <form  method="post" action="/create_event">

            <div>
            <label class="label-input" for="goh_name">Tell us who the event is for *</label>
                <input id="goh_name" type="text" name="goh_name" placeholder="First name" required>
            </div><br>

            <div class="dropdown"><label>Please confirm the Event of your choice: *</label>
                <select id="party" name="partypackage">
                <div class="dropbtn-partypackage">
                    {% for party in party_packages_list %}
                        <option value="{{ party.title }}">{{ party.title }}</option>
                    {% endfor %}
                </div>
                </select>
            </div><br>

            <label class="label-input" for="date_of_event">Enter Date that you would like to reserve*</label>
            <div>
                <input id="date_of_event" type="datetime" name="date_of_event" placeholder="MM/DD/YYYY"
                onfocus="(this.type='date')" required>
            </div><br>

            <label class="label-input" for="qtyguest">Enter how many guest do you plan to have *</label>
            <div> 
                <input id="qtyguest" name="qtyguest" type="number" required />
            </div><br>
            
            <label class="label-input" for="added_details">Enter any additional information *</label>
            <div> 
                <textarea id="added_details" name="added_details" placeholder="e.g. Special Arrangements Needed"
                    style="font-family:sans-serif;font-size: 1.2em;">
                </textarea>
            </div><br>

            <div>
            <label class="label-input" for="event_location" >Desired Location *</label>

                    <p>Please select your Location:</p>
                    <input type="radio" id="CA" name="event_location" value="Oakland" checked>
                    <label for="Oakland">Oakland, CA</label><br>
                    <input type="radio" id="CA" name="event_location" value="Los Angeles">
                    <label for="Los Angeles">Los Angeles, CA</label><br>               
                    <input type="radio" id="CA" name="event_location" value="Napa">
                    <label for="Napa">Napa, CA</label><br>
                    <input type="radio" id="NV" name="event_location" value="Las Vegas">
                    <label for="Las Vegas">Las Vegas, NV</label><br>
                    <input type="radio" id="HI" name="event_location" value="Honolulu">
                    <label for="Honolulu">Honolulu, HI</label><br>
                    <input type="radio" id="TX" name="event_location" value="Houston">
                    <label for="Houston">Houston, TX</label><br>
                    <input type="radio" id="NY" name="event_location" value="New York">
                    <label for="New York">New York, NY</label><br>
                    <input type="radio" id="FL" name="event_location" value="Orlando">
                    <label for="Orlando">Orlando, FL</label><br>
                    <input type="radio" id="GA" name="event_location" value="Atlanta">
                    <label for="Atlanta">Atlanta, GA</label><br>

                    <input style="margin:10px" type="submit" class="btn btn-warning">Confirm Details</input>
                
        
        </form>
    </body>
{% endblock %}