{% extends 'base.html' %}
{% block title %}All Party Packages{% endblock %}

{% block body %}
<img class="background-image" src="/static/images/partydetails1.jpg" style="width:100%">
  <h2></h2>

  <body>
    <ul id="Party Package Details">
        <li>
          <a href="{{ partypackage.purchase_id }}">
            {{ partypackage.title }}
          </a>
          :{{ partypackage.overview }}
          {{ partypackage.party_includes }}
          {{ partypackage.qty_of_guest }}
          {{ partypackage.cost }}
        </li>
    </ul>
    <img class="card" src="/static/images/boots.webp" style="width:50%">
<button style="margin:10px" type="button" onclick="location.href='/client_registration';"class="btn btn-warning">Reserve Event Today</button>

{% endblock %}